*{
    margin: 0;
}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: radial-gradient(circle, #352c1e, #30281c, #2a241b, #252119, #201d18);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.navContainer ul {
    display: flex;
    list-style: none;
}

.navContainer ul li{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    padding: 10px;
    margin-right: 50px;
}

.navContainer h2{
    margin: 0;
    margin-right: 20px;
}