/* .sidebarContainer{
    background: white;
    width: 22vw;
    height: 50vh;
    position: absolute;
    top:15%;
    right: 10px;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 2s;
    display: none;
}

.sidebar-ul{
    padding: 0;
}

.sidebar-ul li{
    list-style: none;
    padding: 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    transition: 1s;
}

.link-1{
    transition: linear;
}

.translateY {
	animation-name: translateY;
    animation-duration: 1s;
    float: right;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.translateNY {
	animation-name: translateNY;
    animation-duration: 1s;
    float: right;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes translateY {
    0% {
      height: 0;
    }
    100% {
      height: 50vh;
    }
  }


  @keyframes translateNY{
    0% {
      height: 50vh;
    }
    100% {
      height: 0;
    }
  } */



#sidebar {
	position: fixed;
	width: 23vw;
	height: 0;
    visibility: hidden;
	background: #262626;
    display: flex;
    justify-content: center;
	right:0px;
    top:14%;
	transition: all 1s linear;
}
#sidebar.active {
	height: 50vh;
    /* display:block; */
    visibility: visible;
    transition: all 1s linear;
}

.sidebar-ul{
    padding: 0;
    height: 0;
    transition: all 0.5s linear;
}

#sidebar-ul.ulactive{
    height: fit-content;
}

.sidebar-ul li {
	color: rgba(230,230,230,0.9);
	list-style: none;
	padding: 20px;
    font-size: 25px;
}


/* @keyframes fadeIn {
	0% { opacity: 0; }
	20% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 1; }
}

.fadeInClass {
	animation-name: fadeIn;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-timing-function: linear;
}


.fadeOutClass{
    animation-name: fadeout;
	animation-duration:0.5s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes fadeout {
	0% { opacity: 1; }
	20% { opacity: 1; }
	60% { opacity: 0; }
	100% { opacity: 0; }
} */

