
@import url('https://fonts.googleapis.com') ;
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Roboto+Slab:wght@300;400&display=swap');

/* .h1{
    display: flex;
    justify-content: center;
    background-color: white;
    opacity: 90%;
  }
  body{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    
  } */
  
   .theory_box{
    width: 900px;
     display:block;
    padding:auto;
  margin:auto 3em; 
  border: 1px solid black;
  border-left: 8px solid black;
  text-align:centre;
  /* background-color: blue; */
  } 
  
.theory_obj{
  /* background-color: black; */
  margin: 10px;
  }
.theory{
  /* background-color: black; */
  margin: 10px;
}

.theory_lrnoutcome{
  /* background-color: black; */
  margin: 10px;
}

.theory_container{
  padding: 18px;;
  display: flex;
  background-image: linear-gradient(to top, #656768 0%, #5b5c5c 99%);
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
.theory_aside-container{
  border: 1px solid black;
  width: 500px;
  display: block;
  justify-content: center;
  /* height: 500px; */
}



  /* Design starts */
  /*
.animation{
    position: absolute;
    top: calc(50%-50px);
    left: calc(50%-50px);
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
  }

.animation li{
    position: relative;
    width: 150px;
    height: 350px;
     list-style: none; 
    float: left;
  }

.animation li::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 100% 100%;
    animation: animate 2.65s linear infinite;
  }

.animation li:nth-child(1){
    transform: rotate(0deg);

  }
.animation li :nth-child(1)::before{
    animation-delay: 0s;
    background-color: #3fc1c9;
  }
.animation li:nth-child(2){
    transform: rotate(90deg);
  }
.animation li :nth-child(2)::before{
    animation-delay: 0.4s;
    background-color: #fc5185;
  }
.animation li:nth-child(3){
    transform: rotate(270deg);
  }
.animation li :nth-child(3)::before{
    animation-delay: 1.2s;
    background-color: #fbf288;
  }

.animation li:nth-child(4){
    transform: rotate(180deg);
  }
.animation li :nth-child(4)::before{
    animation-delay: 0.8s;
    background-color: #5d25a4;
  }

@keyframes animate{
    0%{
      transform: perspective(200px) rotateX(0deg) ;
      opacity:0;
    }


    10%{
      transform: perspective(200px) rotateX(-180deg) ;
      opacity:0;
    }

    25%{
      transform: perspective(200px) rotatX(0deg) ;
      opacity:1;
    }

    75%{
      transform: perspective(200px) rotateX(0deg) ;
      opacity:0;
    }

    90%{
      transform: perspective(200px) rotateY(180deg) ;
      opacity:0;
    }

    100%{
      transform: perspective(200px) rotateY(0deg) ;
      opacity:0;
    }
  }
 */
  /* Design ends*/

  #theory_fst-img{
    width: 400px;
    margin: 20px auto;
    padding: auto;
    display: block;
    border-radius: 40px;
    border: 4px solid black;
    box-shadow: 4px 4px 4px 4px #414849 ;
    /* border-style:inset */
  }
  
  #theory_trd-img{
    width: 400px;
    margin: 20px auto;
    padding: auto;
    display: block;
    border: 4px solid black;
    border-radius: 40px;
    box-shadow: 4px 4px 4px 4px #414849 ;
  }
.theory_trd{
  /* border: 2px solid black; */
  width: 450px;
  display: block;
  margin: auto;
  padding: auto;
}
#theory_c1{
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

#theory_snd-img{
  width: 400px;
  border: 4px solid black;
  border-radius: 40px;
    margin: 20px auto;
    padding: auto;
    display: block;
    box-shadow: 4px 4px 4px 4px #414849 ;
}



#theory_frt-img{
  width: 400px;
  border: 4px solid black;
  border-radius: 40px;
    margin: 20px auto;
    padding: auto;
    display: block;
    box-shadow: 4px 4px 4px 4px #414849 ;
}

.theory_h1{
  font-size: 24px;
}
.theory_h2{
  font-size: 23px;
}
.theory_h3{
  font-size: 22px;
  padding-left: 35px;
}
.theory_h4{
  font-size: 21px;
  text-decoration: underline;
}
.theory_h5{
  font-size: 20px;
}
.theory_h6{
  font-size: 19px;
} 

.theory_li-span{
  display: block;
  
  margin: 0px auto;
  padding: auto;
}

#theory_terms{
  width: 95%;
  border: 4px solid black;
  border-radius: 40px;
  display: block;
  margin: auto;
  padding: auto;
  box-shadow: 4px 4px 4px 4px #414849 ;
}
.theory_p{
  padding-left: 25px;
}