@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


.theory_box {
  width: 900px;
  display: block;
  padding: auto;
  margin: auto 3em;
  margin-left: 0;
  text-align: centre;
  padding: 1rem 0rem;
  font-family: "Rubik";
  /* background-color: blue; */
}

.theory_obj {
  margin-bottom: 10px;
}

.theory {
  margin-top: 10px;

}

.theory_lrnoutcome {
  margin: 10px;
}

.theory_container {
  padding: 1rem 4rem 2rem 4rem;
  display: flex;
  /* background-image: linear-gradient(to top, #8f9294 0%, #bdbdbd 99%); */
  background-color: #f6f6f6;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

.theory_aside-container {
  /* border: 1px solid black; */
  width: 500px;
  display: block;
  justify-content: center;
  border-left: 1px solid #000;
  padding: 1rem 20px;
  /* height: 500px; */
}


#theory_fst-img {
  width: 400px;
  margin: 20px auto;
  padding: auto;
  display: block;
  border-radius: 40px;
  border: 2px solid black;

  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  /* border-style:inset */
}

#theory_trd-img {
  width: 400px;
  margin: 20px auto;
  padding: auto;
  display: block;
  border: 2px solid black;
  border-radius: 40px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.theory_trd {
  /* border: 2px solid black; */
  width: 450px;
  display: block;
  margin: auto;
  padding: 1rem 0;
}

#theory_c1 {
  display: flex;
  justify-content: center;
}

#theory_snd-img {
  width: 400px;
  border: 2px solid black;
  border-radius: 40px;
  margin: 20px auto;
  padding: auto;
  display: block;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}



#theory_frt-img {
  width: 400px;
  border: 2px solid black;
  border-radius: 40px;
  margin: 20px auto;
  padding: auto;
  display: block;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.theory_h1 {
  font-size: 24px;
  font-weight: 500;
}

.theory_h2 {
  font-size: 23px;
  font-weight: 500;
}

.theory_h3 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;

}

.theory_h4 {
  font-weight: 500;
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.theory_h5 {
  font-size: 20px;
  font-weight: 500;
}

.theory_h6 {
  font-size: 19px;
  font-weight: 500;
}

.theory_li-span {
  display: block;

  margin: 0px auto;
  padding: auto;
}

#theory_terms {
  width: 95%;
  border: 2px solid black;
  border-radius: 40px;
  display: block;
  margin: auto;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.theory_p {
  /* padding-left: 25px; */
}